@import url( "http://fonts.googleapis.com/css?family=Ubuntu:400,400italic" );

body {
	font-family: Ubuntu, Verdana, sans-serif;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

.colorA {
	background-color: #FF842F;
}
.colorB {
	background-color: #E8672B;
}
.colorC {
	background-color: #FF683C;
}
.colorD {
	background-color: #E8442B;
}
.colorE {
	background-color: #FF443C;
}
.colorGray {
	background-color: #EEE;
}

h1 {
	font-size: 5em;
	margin: 0px;
	padding: 0px;
	padding-bottom: 10px;
}
blockquote {
	background-color: #EEE;
	padding: 20px;
	text-align: left;
}
input {
	background-color: #FFF;
	border-style: solid;
	border-color: #CCC;
	border-width: 1px;
	padding: 10px;
	margin: 5px;
	font-family: Ubuntu, Verdana, sans-serif;
}
input.big {
	padding: 20px;
	margin: 10px;
	font-size: 1.5em;
}
input.clearableText {
	color: #BBB;
}
input:focus {
	outline: none !important;
	border: 1px solid #FF842F;
	box-shadow: 0 0 10px #FF842F;
}
a {
	color: #FF842F;
	-webkit-transition: 100ms linear 0s;
	-moz-transition: 100ms linear 0s;
	-o-transition: 100ms linear 0s;
	transition: 100ms linear 0s;
}
a:hover, a:focus
{
	color: #FF6011;
	text-shadow: none;
	-webkit-transition: 100ms linear 0s;
	-moz-transition: 100ms linear 0s;
	-o-transition: 100ms linear 0s;
	transition: 100ms linear 0s;
	outline: 0 none;
}

#intro {
	display: block;
	left:0px;
	top:0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	padding: 20px;
	color: #FFF;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

#input {
	margin: 20px;
}

#bar {
	margin: 20px;
	margin-top: 0px;
	
	display: inline-block;
	
	right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
	
	width: 80%;
	height: 100px;
	
	border-radius: 32px;
	
	background-color:#FF842F;
}

#slider {
	margin: 10px;
	display: block;
	
	height: 80px;
	
	border-radius: 32px;
	
	background-color: #FFF;
}

#analysis {
	margin-top: 20px;
	font-size: 2.0em;
}

#analysisSub {
	margin-top: 20px;
	font-size: 1.0em;
	color: #555;
}

#footerPad {
	display: inline-block;
	left: 0px;
	width: 100%;
	height: 50px;
	margin-top: 20px;
}

#footer {
	display: block;
	position: fixed;
	left:0px;
	bottom:0px;
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 0.8em;
}

#training {
	padding: 20px;
}