@import url( "http://fonts.googleapis.com/css?family=Ubuntu:400,400italic" );

body {
	font-family: Ubuntu, Verdana, sans-serif;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

.colorA {
	background-color: #FF842F;
}
.colorB {
	background-color: #E8672B;
}
.colorC {
	background-color: #FF683C;
}
.colorD {
	background-color: #E8442B;
}
.colorE {
	background-color: #FF443C;
}
.colorGray {
	background-color: #EEE;
}

h1 {
	font-size: 5em;
	margin: 0px;
	padding: 0px;
	padding-bottom: 10px;
}
blockquote {
	background-color: #EEE;
	padding: 20px;
}
input {
	background-color: #FFF;
	border-style: solid;
	border-color: #CCC;
	border-width: 1px;
	padding: 10px;
	margin: 5px;
	font-family: Ubuntu, Verdana, sans-serif;
}
input.big {
	padding: 20px;
	margin: 10px;
	font-size: 1.5em;
}
input.clearableText {
	color: #BBB;
}
input:focus {
	outline: none !important;
	border: 1px solid #FF842F;
	box-shadow: 0 0 10px #FF842F;
}

#intro {
	display: block;
	left:0px;
	top:0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	padding: 20px;
	color: #FFF;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

#input {
	margin: 100px 0px;
}

#footer {
	display: block;
	position: fixed;
	left:0px;
	bottom:0px;
	width: 100%;
	padding: 20px;
}

#training {
	text-align: left;
	padding: 20px;
}